<template name="footer">
	<footer>

        <input class="biginput" type="text" id="wish" value="" placeholder="What is on your mind?" style="width: 65%;">
        this is a: <input type="text" id="type" value="post" placeholder="type?" style="width: 250px;">
        <div style="background-color: #aaaaaa; padding: 2px;">
            <b>Post</b> requires <div class="mini ui button">Text</div> <div class="mini ui button">Date</div>
            , usually has <div class="mini ui button">Recipient</div>, can have <div class="mini ui button">Location</div>
        </div>
	</footer>
</template>
