<template name="layout">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{name}}</title>
    </head>

    <body>
        <div class="container">

            <div class="errors">{{> errors}}</div>
            <header>{{> header}}</header>
            <nav id="menuLeft">{{> menuLeft}}</nav>
            <nav id="menuRight">{{> menuRight}}</nav>

            {{> yield}}

            <footer>{{> footer}}</footer>
        </div>
    </body>

</template>
