<template name="menuLeft">

    <div class="menu">
        <div class="menuItem"><span class="fontawesome-leaf"></span></div>
        <div class="menuItem"><span class="fontawesome-calendar"></span></div>
        <div class="menuItem"><span class="fontawesome-map-marker"></span></div>
        <div class="menuItem"><span class="fontawesome-user"></span></div>
        <div class="menuItem"><a href="{{pathFor 'postSubmit'}}"><span class="fontawesome-cogs"></span></a></div>
        <div class="menuItem"><a href="{{pathFor 'postsList'}}"><span class="fontawesome-home"></span></a></div>
    </div>

</template>
