<template name="menuRight">

    <div class="menu">
        <div class="menuItem"><a href="{{pathFor 'composer'}}"><span class="fontawesome-signal"></span></a></div>
        <div class="menuItem"><a href="{{pathFor 'history'}}"><span class="fontawesome-signal"></span></a></div>
        <div class="menuItem"><a href="{{pathFor 'graph'}}"><span class="fontawesome-sitemap"></span></a></div>
        <div class="menuItem"><a href="{{pathFor 'overview'}}"><span class="fontawesome-stop"></span></a></div>
    </div>

</template>