<template name="header">
    <header>
        <div class="ui menu">
          <a class="active item" href="{{pathFor 'postsList'}}">
            <i class="home icon"></i> Your Name here
          </a>
          <a class="item">
            <i class="user icon"></i> People
          </a>
          <a class="item">
            <i class="user icon"></i> Places
          </a>
            <a class="item">
            <i class="user icon"></i> Objects
          </a>
            <a class="item">
            <i class="user icon"></i> Events
          </a>
            <a class="item">
            <i class="user icon"></i> Wishes
          </a>
            <a class="item" href="{{pathFor 'postSubmit'}}">
                  <i class="user icon"></i> Setup
            </a>
        </div>
    </header>

    <li>{{> loginButtons}}</li>

</template>
