<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <a class="brand" href="http://media-cache-ec0.pinimg.com/736x/42/ce/52/42ce529b0058b1329ffa12afae8cb6ed.jpg"><img src="http://www.clker.com/cliparts/t/p/n/T/1/u/running-man-with-microscope-md.png" width="25"></a>
        <a class="brand" href="{{pathFor 'postsList'}}">Scoperomic</a>
      <div class="nav-collapse collapse">
          <ul class="nav">
              <li><a href="{{pathFor 'postSubmit'}}">Setup</a></li>
          </ul>
          <ul class="nav pull-right">
          <li>{{> loginButtons}}</li>
        </ul>
      </div>
    </div>
  </header>
</template>
