.errors {
    position: absolute;
    top: 0;
    z-index: 1000;
    background: lightblue;
}

.element {
    background: #fff;
}

.postItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: stretch;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.2px;
}

.avatar img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0.05);
    background: #fff;
}


.postContent {
    width: 100%;
    padding: 5px 100px;
    font-size: 30px;
    text-align: center;
    color: black;
    line-height: 1.2;
}

.postContent a {
    color: black;
}

.postAuthor span {
    color: lightgrey;
    text-align: right;
}

.menuItem img{
    max-width: 50px;
    border: 1px solid rgba(0,0,0,0.05);
}
.menuItem{
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0,0,0,0.05);
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuItem a {
     color: #294257;
}
.menuItem a:hover  {
     color: #fff;
}

.menuItem:hover {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.05);
    background: rgba(0, 128, 128, .6);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background: #fff;
    color: #294257;
    padding: 5px 14px;
    border: none;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.05);
}

button:hover {
    color: #fff;
	background: rgba(0, 128, 128, .6);
}

button:active {
	position:relative;
	top:1px;
}

textarea:focus, input:focus, button {
    outline: 0;
}

