.errors {
    position: absolute;
    top: 0;
    z-index: 1000;
    background: lightblue;
}

.element {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.postItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: stretch;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.2px;
}

.postItem img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,0.05);
    background: #fff;
}

.postContent {
    background: #fff;
    width: 100%;
    margin-left: 20px;
    padding: 10px 20px;
    align-self: flex-end;
}

.postAuthor span {
    color: lightgrey;
    text-align: right;
}

.menuItem img{
    max-width: 50px;
    border: 1px solid rgba(0,0,0,0.05);
}

.menuItem{
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.05);
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuItem a {
     color: #294257;
}
.menuItem a:hover  {
     color: #fff;
}

.menuItem:hover {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.05);
    background: rgba(0, 128, 128, .6);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background: #fff;
    color: #294257;
    padding: 5px 14px;
    border: none;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.05);
}

button:hover {
    color: #fff;
	background: rgba(0, 128, 128, .6);
}

button:active {
	position:relative;
	top:1px;
}

textarea:focus, input:focus, button {
    outline: 0;
}

#oid {
    color: lightgrey;
    font-size: 14px;
    font-weight: 400;
}

.title {
    padding: 5px 18px;
    margin-left: 77px;
}

.title h1 {
    font-size: 32px;
}
