<template name="layout">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{name}}</title>

        <script>
            (function() {
                var t   = document.createElement('script');
                t.type  = 'text/javascript';
                t.async = true;
                t.id    = 'persona-lib';
                t.src = '//login.persona.org/include.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(t, s);
            })();
        </script>

    </head>

    <body>
        <div class="container">

            <div class="errors">{{> errors}}</div>
            <header>{{> header}}</header>
            <nav id="menuLeft">{{> menuLeft}}</nav>
            <nav id="menuRight">{{> menuRight}}</nav>

            {{> yield}}

            <footer>{{> footer}}</footer>
        </div>
    </body>

</template>
