<template name="objectPage">

	{{#with detail}}

	<input type="hidden" id="id" value="{{obj.id}}" />
	<input type="hidden" id="rev" value="{{obj.rev}}" />
 
    <div class="main">

        <h2>Add relations</h2>
        <div class="addRelation">
            <input type="text" id="key" placeholder="key">
            <input type="text" id="value" placeholder="value">
            <button id="add-attribute-to-object">Add</button>
        </div>
        <h2>Attributes</h2>

        {{#each variable}}
	            {{> propertyEditor}}
            <!--<div class="element">
            	<input type="text" value="{{key}}" readonly="readonly" id="{{key}}_key" />:
            	<input type="text" value="{{value}}" class="value-editor" id="{{key}}_editor" />
            </div>-->
        {{/each}}

    </div>

	{{/with}}

    <aside>
        <h2>Select from Objects</h2>

        {{#each objects}}
            <div class="element"> {{name}} </div>
        {{/each}}

    </aside>

</template>
