<template name="objectPage">

    <div class="main">

        <h2>Add relations</h2>
        <div class="addRelation">
            <input type="text" id="key" placeholder="key">
            <input type="text" id="value" placeholder="value">
        </div>

        <h2>Attributes</h2>
        {{#each this}}
        <span>{{key}}</span> : <span>{{value}}</span>
        {{/each}}
        <div class="element">was born in : munich</div>
        <div class="element">birthday : 1989</div>
    </div>


    <aside>
        <h2>Select from Objects</h2>
        <div class="element"></div>
    </aside>

</template>
