<template name="objectPage">

	<div class="main">

		{{#with detail}}

		<input type="hidden" id="id" value="{{obj.id}}" />
		<input type="hidden" id="rev" value="{{obj.rev}}" />
		
		<h2>Add relations</h2>
		<div class="addRelation">
			<input type="text" id="key" placeholder="key">
			<input type="text" id="value" placeholder="value">
			<button id="add-attribute-to-object">
				Add
			</button>
		</div>
		<h2>Attributes</h2>

		<div id="object-attribute-container" style="width:500px; height:auto;">
			{{#each variable}}
				{{> propertyEditor}}
			{{/each}}
		</div>
		<div id="object-composer-container" style="width:300px; height:400px; float:right; background:#333;">
			
		</div>

		{{/with}}
		<div id="object-history">
			<div id="object-history-values">
				Object history values
			</div>
			<div id="object-history-graph">
				
			</div>
		</div>
	</div>
	<aside>
		<h2>Select from Objects</h2>

		{{#each objects}}
		<div class="element">
			{{name}}
		</div>
		{{/each}}

	</aside>
	{{invokeLoaded}}
</template>