@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

*, *:before, *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

*:focus {
    outline: 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table; }

.clearfix:after {
	clear: both; }

.clearfix {
	*zoom: 1; }

html {
	font-size: 16px; }

body {
	font-family: 'OpenSans';
	color: #294257;
	font-weight: 300;
	background: #fff; }

ul, li, a {
	text-decoration: none;
	font-weight: 300;
	padding: 0;
	margin: 0;
	list-style-type: none;
	color: rgba(0, 128, 128, .6);
}

p {
	color: rgba(0, 128, 128, .6);
}

header {
	position: fixed;
	top: 0;
	background: #f7f7f7;
	border-right: 1px solid rgba(0,0,0,0.05);
	overflow: hidden;
	font-size: 0.6rem;
	line-height: 1.6rem;
	width: 100%;
	padding: 0 0.4rem;
	height: 1.6rem;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	font-weight: 700;

}
header li{
  	display: inline;
  	padding: 0 0.4rem;
	color: rgba(0, 128, 128, .6);
}
header li:first-child{
	color: #294257;
	letter-spacing: 0.15rem;
}

header li:hover {
	color: #294257;
}

#main {
	width: 100%;
    padding: 15px;
	position: fixed;
	top: 1.6rem;
	left: 0;
	right: 0;
	bottom: 4rem;
	overflow: hidden;
	z-index: 10;
}

footer {
	position: fixed;
	bottom: 0;
	background: #f7f7f7;
	border-right: 1px solid rgba(0,0,0,0.05);
	overflow: hidden;
	font-size: 2rem;
	line-height: 4rem;
  	padding: 0 0.7rem;
	width: 100%;
	height: 4rem;
	border-top: 1px solid rgba(0,0,0,0.05);
  	font-weight: 300;
	color: #294257;
}

input {
	border: none;
	background: #f7f7f7;
	color: blue;
}




#spinner {
  height: 300px; }



@media (min-width: 50rem) {
	html {
		font-size: 1.2rem; }
	.column {
		float: left; }
	.column.full {
		width: 100%; }
	.column.two-thirds {
		width: 66.7%; }
	.column.half {
		width: 50%; }
	.column.third {
		width: 33.3%; }
	.column.fourth {
		width: 25%; }
	.column.flow-opposite {
		float: right; }
}

@media (min-width: 100rem) {
  html {
    font-size: 1.6rem; }
}
