<template name="homePage">

    <div id="main">
        <div class="ui fluid form">
            <div class="inline field">
                <div class="ui pointing right label">Subscribe to Feed</div>
                    <input id="subscribeToContextUrl" class="input-url" type="text" size="60" placeholder="Add a new feed..."/>
                <div class="ui small secondary button" id="subscribe-to-feed">Subscribe</div>
            </div>
        </div>

        {{> postsList}}

    </div>

</template>
