<template name="postsList">

    {{#if posts.count}}
         <form class="ui fluid form">
            <div class="inline field">
              <div class="ui pointing right label">Subscribe to Feed</div>
              <input name="subscribeProfileUrl" class="input-url" type="text" placeholder="HTTP://"/>
             <div class="ui small secondary button" id="subscribe-to-feed">Subscribe</div>
            </div>
        </form>

        <div class="ui selection list">
            {{#each posts}}
                {{> postItem}}
            {{/each}}
        </div>
    {{else}}
        Empty, click Setup to proceed
    {{/if}}

</template>
