<template name="postsList">

    <div class="content">
        <div class="main">
            {{#if posts.count}}

                {{#each posts}}
                    {{> postItem}}
                {{/each}}

            {{else}}
                Empty, click Setup to proceed
            {{/if}}
        </div>

        <aside class="element">
            <h3>FOLLOW FEED</h3>
            <input name="subscribeProfileUrl" class="input-url" type="text" placeholder="HTTP://"/>
            <div id="subscribe-to-feed">Subscribe</div>
        </aside>

    </div>

</template>
