<template name="postPage">

    <div class="headline">
        <h1>{{title}}</h1>
    </div>

    <div id="main">
        <div class="ui small six steps">
          <div class="ui active step">
            Thought
          </div>
          <div class="ui disabled step">
            Wish
          </div>
          <div class="ui disabled step">
            Concept
          </div>
          <div class="ui disabled step">
            Prototype
          </div>
            <div class="ui disabled step">
            Review & Test
          </div>
            <div class="ui disabled step">
            Happyness
          </div>
        </div>
    </div>
</template>
