<template name="postSubmit">

<form class="ui fluid form">

    <div class="inline field">
        <div class="ui pointing below label">
           Hook your Profile
        </div>
        <input name="myProfileUrl" type="text" value="{{myProfileUrl}}" placeholder="Your Profile Link"/>
        <div class="ui small secondary button" id="validate-my-profile">Validate</div>
    </div>

  <div class="ui simple divider"></div>

  <div class="inline field">
    <div class="ui pointing below label">
       Subscribe to Feed
    </div>
      <input name="subscribeProfileUrl" class="input-url" type="text" placeholder="HTTP://"/>
        <div class="ui small secondary button" id="validate-my-profile">Subscribe</div>

  </div>

</form>

</template>
