<template name="postsList">

    <div class="banner element">
        Samuel Andert<br>
        In love with avocado, tomato and olive oil
    </div>
    <div class="content">
        <div class="main">
            {{#if posts.count}}

                {{#each posts}}
                    {{> postItem}}
                {{/each}}

            {{else}}
                Empty, click Setup to proceed
            {{/if}}
        </div>

        <aside class="element">
            Subscribe to Feed
            <input name="subscribeProfileUrl" class="input-url" type="text" placeholder="HTTP://"/>
            <div id="subscribe-to-feed">Subscribe</div>
        </aside>
    </div>

    <div class="search element">
        Searchbar
    </div>

</template>
